<head>
  <style>
    span{
      color: #282f44;
      font-size: 24px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Tienes un nuevo comentario de {{username}}!</h1>
  <hr>
  <p>{{comment}}</p>
</body>